@import "variables";

*{
  font-family: $open-sans-font;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}

ul{margin: 0;
padding: 0}

.small-font-label{
  font-weight: $semi-bold;
  font-size:  0.75rem;
}

.icon {
  width: 1.875rem;
  height: 1.875rem;
}

.icon-heart {
  mask: url(../assets/heart-icon.svg);
}

.heading-1{
  font-weight: $regular;
  font-size: 2.6875rem;
  margin: 0;
}

.paragraph{
  font-weight: $regular;
  font-size: 0.875rem;
}

.simple-button{
  border: none;
  color: $white-color;
  background-color: $gray-color-7;
  font-weight: $bold;
  font-size: 0.875rem;
}

button:hover{
  cursor: pointer;
}

@media (max-width: 992px) {
  @include header--md();
}
