@import "variables";

*{
  font-family: $open-sans-font;
  box-sizing: border-box;

}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

ul{margin: 0;
padding: 0}


.small-font-label{
  font-weight: $semi-bold;
  font-size:  1.0000007559056rem;
}


.icon {
  width: 1.875rem;
  height: 1.875rem;
}

.icon-heart {
  mask: url(../assets/heart-icon.svg);
}
