@import "variables";

* {
  font-family: $open-sans-font;
  box-sizing: border-box;
  margin: 0;
}



a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0
}

button{
  border: none;
}

.small-font-label {
  font-weight: $semi-bold;
  font-size: 0.75rem;
}

.icon {
  width: 1.875rem;
  height: 1.875rem;
}

.icon-heart {
  mask: url(../assets/heart-icon.svg);
}

.heading-1 {
  font-weight: $regular;
  font-size: 2.6875rem;
}

.heading-2 {
  font-weight: $semi-bold;
  font-size: 1.625rem;
}


.paragraph {
  font-weight: $regular;
  font-size: 0.875rem;
}

.paragraph-light {
  font-weight: $light;
}

.simple-button {
  border: none;
  color: $white-color;
  background-color: $gray-color-7;
  font-weight: $bold;
  font-size: 0.875rem;
}

button:hover {
  cursor: pointer;
}

