@import "../variables";

.presentation{
  background: $primary-color;
  min-height: $presentation-height;
  display: flex;
  align-items: center;
  color: $white-color;
  padding-top: $header-height;
}

.presentation__title, .presentation__paragraph{
  background: $accent-color;
}

.presentation__title{
  @extend .heading-1;
  margin: $margin 0;
  width: 100%;
  padding: 0.25rem 1.25rem;
}

.presentation__paragraph{
  @extend .paragraph;
  width: 100%;
  padding: 1rem 1.25rem;
  line-height: 1.5625rem;
  margin: $margin 0;
}

.presentation__read-more-button{
  @extend .simple-button;
  padding: 0.6rem 1.25rem;
  margin: $margin 0;
}


@mixin presentation--md() {
  .presentation{
    padding-top: 0;
  }
}
